.attPage {
    display: flex;
    padding: 0 1rem 0 1rem;
    background-color: white;
}

#header {
    font-size: 4rem;
    padding: 0rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: var(--yellow)
}

#header h1 {
    text-transform: uppercase;
}

.attHeader {
    margin-top: 0rem;
}

aside {
    flex: 0.8;
    position: relative;
}

main {
    flex: 3.5;
}

.section-header {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 0.5rem;
}

.definition-header {
    background-color: var(--green);
}

.attListItem {
    border: 1px solid lightgray;
    width: 100%;
    padding: 0.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

.attListItem:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.attList {
    background-color: var(--green);
}

.att-image {
    width: 3rem;
}

.att-detail-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.att-detail-definition {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}

.att-detail-distinctives {
    background-color: white
}

.att-detail-definition-container {
    display: flex;
    display: row nowrap;
    margin-bottom: 2rem;
    border: 1px solid black;
}

.att-detail-definition-container h2 {
    color: var(--green);
}

.att-detail-definition-subtitle {
    padding: 1rem;
    display: flex;
    flex: 0.5;
}

.att-detail-definition-p {
    padding: 1rem;
    flex: 0.5;
}

.att-detail-display-container {
    display: flex;
    display: row nowrap;
    margin-bottom: 2rem;
    border: 1px solid black;
}

.display-header {
    background-color: var(--purple);
}

.att-detail-display-container h2 {
    color: var(--purple);
}

.att-detail-display-subtitle {
    padding: 1rem;
    display: flex;
    flex: 0.5;
}

.att-detail-display-p {
    padding: 1rem;
    flex: 0.5;
}

.att-detail-distinctives-container {
    display: flex;
    display: row nowrap;
    margin-bottom: 2rem;
    border: 1px solid black;
}

.distinctives-header {
    background-color: var(--teal);
}

.att-detail-distinctives-container h2 {
    color: var(--teal);
}

.att-detail-distinctives-subtitle {
    padding: 1rem;
    display: flex;
    flex: 0.5;
}

.att-detail-distinctives-p {
    padding: 1rem;
    flex: 0.5;
}

.att-detail-other-container {
    display: flex;
    display: row nowrap;
    margin-bottom: 2rem;
    border: 1px solid black;
}

.other-header {
    background-color: var(--pink);
}

.att-detail-other-container h2 {
    color: var(--pink);
}

.att-detail-other-subtitle {
    padding: 1rem;
    display: flex;
    flex: 0.5;
}

.att-detail-other-p {
    padding: 1rem;
    flex: 0.5;
}

/* SIDEBAR */

.sidebar2 {
    position: absolute;
    top: 3rem;
    left: 1.5rem;
}

.sidebar-li {
    margin: 0.5rem;
}

.sidebar-li:hover {
    cursor: pointer;
}