.attributeFlexbox {
    display: flex;
}

.attPage {
    flex: 3.5;
    padding: 0 1rem 0 1rem;
    background-color: white;
}

#header {
    font-size: 4rem;
    padding: 0rem 1.5rem;
}

#header h1 {
    text-transform: uppercase;
}

.attHeader {
    margin-top: 0rem;
}

aside {
    flex: 0.8;
}

.section {
    padding: 1rem 1.5rem;
}

.attListItem {
    border: 1px solid lightgray;
    width: 100%;
    padding: 0.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

.attListItem:hover {
    cursor: pointer;
    filter: brightness(85%);
}

/* .attList>li:nth-child(odd) {
    background-color: gray;
}

.attList>li:nth-child(even) {
    background-color: #00d1b2;
} */

.attList {
    background-color: var(--green);
}