.att-image {
    width: 3rem;
}

.att-detail-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.att-detail-definition {
    background-color: var(--yellow);
    display: flex;
    flex-flow: column nowrap;
}

.att-detail-display {
    background-color: white;
}

.att-detail-distinctives {
    background-color: var(--yellow)
}

.att-detail-other {
    background-color: white;
}

.att-detail-definition-container {
    display: flex;
    display: row nowrap;
    margin: 2rem;
    border: 1px solid black;
}

.att-detail-definition-subtitle {
    padding: 1rem;
    display: flex;
    flex: 0.5;
}

.att-detail-definition-p {
    padding: 1rem;
    flex: 0.5;
}

.att-detail-display-container {
    display: flex;
    display: row nowrap;
    margin: 2rem;
    border: 1px solid black;
}

.att-detail-display-subtitle {
    padding: 1rem;
    display: flex;
    flex: 0.5;
}

.att-detail-display-p {
    padding: 1rem;
    flex: 0.5;
}

.att-detail-distinctives-container {
    display: flex;
    display: row nowrap;
    margin: 2rem;
    border: 1px solid black;
}

.att-detail-distinctives-subtitle {
    padding: 1rem;
    display: flex;
    flex: 0.5;
}

.att-detail-distinctives-p {
    padding: 1rem;
    flex: 0.5;
}

.att-detail-other-container {
    display: flex;
    display: row nowrap;
    margin: 2rem;
    border: 1px solid black;
}

.att-detail-other-subtitle {
    padding: 1rem;
    display: flex;
    flex: 0.5;
}

.att-detail-other-p {
    padding: 1rem;
    flex: 0.5;
}