.heroContainer {
    display: flex;
    align-items: center;
}

.heroTitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5rem;
}

#heroTitle {
    margin-bottom: 0;
}

#heroSubtitle {
    margin-top: 0;
}