.homepage-welcome {
    height: 100vh;
    background: url(../images/homeSplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 10rem;
}

.welcome-title {
    font-size: 3rem;
}

.welcome-subtitle {
    font-size: 2rem;
}

/* .homepage-attribute {
    height: 50vh;
} */

.homepage-personality {
    background-color: lightgray;
}