.homepage-welcome {
    background-color: lightgray;
}

.homepage-quiz {
    background-color: lightcyan;
}

.homepage-personality {
    background-color: lightpink;
}

.homepage-movies {
    background-color: lightsteelblue;
}

