.personalityPage {
    background-color: white;
    padding: 1rem;
}

#header {
    font-size: 4rem;
    padding: 0rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: var(--yellow)
}

.enneagramContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.myersBriggsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.discContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card-image {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.card {
    margin: 1.5rem;
    width: 14rem;
}

.persLink {
    color: #00d1b2;
}