.personalityPage {
    background-color: white;
    padding: 1rem;
}

#header {
    font-size: 4rem;
    padding: 0rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: var(--yellow)
}

.personalityContainer {
    display: flex;
    flex-flow: row wrap;
}