.form {
  background: white;
  padding: 2rem;
}

#password {
  -webkit-text-security: disc;
}

.input {
  width: 90%;
}

.register-title {
  text-align: center;
  padding-bottom: 1rem;
}

.disclaimer {
  display: flex;
  justify-content: right;
  font-size: 0.8rem;
}

.is-grouped {
  margin-top: 1rem;
}
