#quickviewBtn {
    position: fixed;
    top: 5rem;
    left: 0.2rem;
    width: 4rem;
}

#quickviewDefault {
    position: fixed;
    top: 0rem;
    bottom: 0rem;
    width: 10rem;
    transition: all 0.3s;
    background-color: blue;
}

.quickview-body {
    position: absolute;
    top: 10rem;
}

.delete {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.quickview-block1 {
    background-color: orange;
}

.quickview-block2 {
    background-color: teal;
}

.quickview-block3 {
    background-color: purple;
}