body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.likeLink:hover {
  cursor: pointer;
}

:root {
  --purple: #540D6E;
  --pink: #EE4266;
  --yellow: #FFD23F;
  --teal: #00d1b2;
  --green: #0EAD69
}

.button {
  background-color: var(--teal);
}

Link {
  background-color: var(--teal);
}
